<div class="row">
    <div class="col-lg-4">
        <address>
          <h3>Derek Cunningham</h3><br/>
          <abbr title="Email"><i class="fa fa-envelope-square"></i></abbr> <a href="mailto:cunninghamd@nosleep.ca">cunninghamd@nosleep.ca</a><br/>
          <abbr title="Website"><i class="fa fa-globe"></i></abbr> <a href="http://www.nosleep.ca/">nosleep.ca</a><br/>
          <abbr title="Github"><i class="fa fa-github"></i></abbr> <a href="https://github.com/cunninghamd">github.com/cunninghamd</a><br/>
          <abbr title="Twitter"><i class="fa fa-twitter-square"></i></abbr> <a href="https://twitter.com/derekcunningham">@derekcunningham</a><br/>
          <abbr title="LinkedIn"><i class="fa fa-linkedin-square"></i></abbr> <a href="https://www.linkedin.com/in/derek-cunningham-coder">linkedin.com/in/derek-cunningham-coder</a><br/>
        </address>
    </div>
</div>