<div class="jumbotron">
    <h1>Vue.js/Express.js Customer Relationship Management (CRM)</h1>
    <p class="lead">An example CRM application to kick start your Vue.js and Express.js development.</p>
    <p><a class="btn btn-lg btn-success" href="https://github.com/cunninghamd/vuejs-expressjs-crm" target="_new" role="button"><i class="fa fa-code-fork"></i> Fork me on GitHub</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
      <h2>Get Started</h2>
      <p><code class="long">git clone https://github.com/cunninghamd/vuejs-expressjs-crm</code></p>
      <p>Set database schema/credentials in <code class="short">config/config.json</code>
      <p><code>cd vuejs-expressjs-cms</code></p>
      <p><code>npm install</code></p>
      <p><code>npm start</code></p>
    </div>
    <div class="col-lg-4">
      <h2>What's in the Box</h2>
      <p>A Full Stack Solution utlizing:</p>
      <ul>
        <li><a href="https://vuejs.org/" target="_new">Vue.js</a></li>
        <li><a href="https://expressjs.com/" target="_new">Express.js</a></li>
        <li><a href="http://handlebarsjs.com/" target="_new">Handlebars.js</a> (server-side)</li>
        <li><a href="http://docs.sequelizejs.com/en/latest/" target="_new">Sequelize.js</a></li>
        <li><a href="" target="_new">MySQL</a></li>
      </ul>
    </div>
    <div class="col-lg-4">
      <h2>Where to from here?</h2>
      <p>Options include, but are not limited to:</p>
      <ol>
        <li>Add authentication via <a href="http://passportjs.org/" target="_new">passport.js</a></li>
        <li>Add typing with <a href="https://www.typescriptlang.org/" target="_new">TypeScript</a></li>
        <li>Read <a href="http://www.telerik.com/campaigns/kendo-ui/javascript-future" target="_new">The Future of JavaScript</a></li>
        <li>Profit!</li>
      </ol>
    </div>
</div>
